@import "tailwindcss";
/* Width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* gray-300 */
  border-radius: 20px;
}

/* Thumb hover */
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; /* gray-400 */
}
